<!DOCTYPE html>
<html lang="vi" class="static dir-ltr codecamp" dir="ltr">

<head>
 <meta charset="utf-8" />
 <meta name="description"
  content="Học lập trình trở nên đơn giản và thú vị hơn bao giờ hết. Bạn sẽ trở thành một lập trình viên tài năng thông qua quá trình học tập và luyện tập mỗi ngày." />
 <meta name="author" content="CodeLearn" />
 <link rel="shortcut icon" href="content/codelearn-icon.png" />
 <link rel="apple-touch-icon" href="content/codelearn-icon.png" />
 <link rel="canonical" href="/home" />
 <link rel="alternate" hreflang="vi" href="https://codelearn.io/home" />
 <link rel="alternate" hreflang="en-US" href="https://codelearn.io/home" />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
 <title>Lập trình mỗi ngày để trở thành lập trình viên ưu tú</title>

 <meta property="og:title" content="Lập trình mỗi ngày để trở thành lập trình viên ưu tú" />
 <meta property="og:type" content="website" />
 <meta property="og:url" content="https://codelearn.io/home" />
 <meta property="og:description"
  content="Học lập trình trở nên đơn giản và thú vị hơn bao giờ hết. Bạn sẽ trở thành một lập trình viên tài năng thông qua quá trình học tập và luyện tập mỗi ngày." />
 <meta property="og:image" content="content/codelearn-share.jpg" />
 <meta property="fb:app_id" content="648326032295473" />


 <meta name="twitter:card" content="summary">
 <meta name="twitter:url" content="https://codelearn.io/home">
 <meta name="twitter:title" content="Lập trình mỗi ngày để trở thành lập trình viên ưu tú">
 <meta name="twitter:description"
  content="Học lập trình trở nên đơn giản và thú vị hơn bao giờ hết. Bạn sẽ trở thành một lập trình viên tài năng thông qua quá trình học tập và luyện tập mỗi ngày.">
 <meta name="twitter:image" content="content/codelearn-share.jpg" />
 <meta name="twitter:site" content="@Codelearn.io">
 <meta name="twitter:creator" content="@Codelearn.io">

 <meta name="google-signin-client_id"
  content="16523143533-ovv9lj8c7i8sv36sv3lguom0msmdk8ah.apps.googleusercontent.com" />

 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141685371-1"></script>
 

 



 <link href="style.css" rel="stylesheet" type="text/css" />
 <link href="skin.css" rel="stylesheet" type="text/css" />
 <link href="bootstrap.css" rel="stylesheet" type="text/css" />
 <link href="font.css" rel="stylesheet" type="text/css" />
 <link href="home.css" rel="stylesheet" type="text/css" />
 <link href="bootstrap-tour.css" rel="stylesheet" type="text/css" />
 <link href="common.css" rel="stylesheet" type="text/css" />
 <link href="site.css" rel="stylesheet" type="text/css" />
 <link href="login-modal.css" rel="stylesheet" type="text/css" />
 <script src="defer_plus.js" type="text/javascript"></script>
 <script src="jquery.js" type="text/javascript"></script>
 <script src="bootstrap.min.js" type="text/javascript"></script>
 <script src="jquery.ui.min.js" type="text/javascript"></script>
 <script src="jquery.validation.js" type="text/javascript"></script>
 <script src="jquery.validation.1.16.0.js" type="text/javascript"></script>
 <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
 <script src="https://www.google.com/recaptcha/api.js?render=6LcMTLMUAAAAAFLLyTIvjCj7k0bAG8ZqjnaTTrQE"
  type="text/javascript"></script>
 <script src="login-form.js" type="text/javascript"></script>
 <script src="common.js" type="text/javascript"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
 
 
 <!------ Include the above in your HEAD tag ---------->
 <link rel="stylesheet" href="chat.css" />
 
 
 <link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
 <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
</head>

<body class="hold-transition site-body skin-sku-light layout-top-nav home ">
 <script>
  //<![CDATA[
  var LANG_CURRENT = "vn";
  const CurrentUserId = 5838384;
  const NOTTIFY_USER_ACCESSKEY = 'nottifyAccessKey';
  const IS_ADMIN = false;

  PKLService.init({ strVersion: '798184607', strLangCode: 'vn', IsHasLogin: true, url: location.origin });
        //]]>
 </script>
 <div id="layout-navigation" class="group ">
  <div class="zone zone-navigation">
   <article class="widget-navigation widget-menu-widget widget">
    <header class="navbar site-header">

     <div class="wrap-site-logo" style="width: 100%;">
      <a title="CodeLearn" href="/" style="display: inline;">
       <img alt="CodeLearn nền tảng dạy lập trình trực tuyến" class="site-logo" src="codelearn-logo.png">
       <img alt="CodeLearn lập trình mỗi ngày" class="site-logo-mobile" src="codelearn-mobile-logo.png">
      </a>
      
       
        <ul class="menu menu-main-menu" style="float: right;">
         <li>
          <a href="/dashboard" title="Học tập" style="padding: 10px 0px;">Học tập</a>
         </li>
         </ul>
         
      
      
     </div>
     
    </header>
   </article>
   <article class="widget-navigation widget-bread-cumps-widget widget">

    <div class="fb-customerchat" attribution=setup_tool page_id="2254662768188202" greeting_dialog_display="hide">
    </div>
   </article>
  </div>
 </div>
 <div class="container-fluid h-100">
<div class="row justify-content-center h-100" style="height: 100vh;">
 <div class="col-md-4 col-xl-4 chat">
  <div class="card mb-sm-3 mb-md-0 contacts_card">
   <div class="card-header">
    <div class="input-group">
     <input type="text" placeholder="Search..." name="" class="form-control search">
     <div class="input-group-prepend">
      <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
     </div>
    </div>
   </div>

   <div class="card-body contacts_body1">
    <ul class="contacts" id="album">

     

    

    

    </ul>
   </div>
   <div class="card-footer"></div>
  </div>
 </div>
 <div class="col-md-8 col-xl-8 chat">
  <div class="card" id="main-content-chat">
   <div class="card-header msg_head">
    <div class="d-flex bd-highlight">
     <div style="width: 55px;" class="img_cont" id="img_cont_open">
      <!-- <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img"> -->
      <!-- <span class="online_icon"></span> -->
     </div>
     <div style="padding-top: 10px;" class="user_info_open" id="user_info_open">
      <span>Chat with Khalid</span>
      <p>1767 Messages</p>
     </div>
     <div class="video_cam">
      <span><i class="fas fa-video"></i></span>
      <span><i class="fas fa-phone"></i></span>
     </div>
    </div>
    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
    <div class="action_menu">
     <ul>
      <li><i class="fas fa-user-circle"></i> View profile</li>
      <li><i class="fas fa-users"></i> Add to close friends</li>
      <li><i class="fas fa-plus"></i> Add to group</li>
      <li><i class="fas fa-ban"></i> Block</li>
     </ul>
    </div>
   </div>
   <div class="card-body msg_card_body" id="msg_card_body">
     
    <div class="d-flex justify-content-start mb-4">
     <!-- <div class="img_cont_msg" id="img_cont_msg">
      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
     </div>
     <div class="msg_cotainer">
      <p style="margin-bottom: 0px;">Hi, how are you samim?</p>
      <span class="msg_time">8:40 AM, Today</span>
     </div> -->
    </div>
     
    
    <div class="d-flex justify-content-end mb-4">
     <!-- <div class="msg_cotainer_send">
      Hi Khalid i am good tnx how about you?
      <span class="msg_time_send">8:55 AM, Today</span>
     </div> -->
     
    </div>
    </div>
    
   
   <div class="card-footer">
    <div class="input-group">
     <div class="input-group-append">
      <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
     </div>
     <textarea name="" id="message" class="form-control type_msg" placeholder="Type your message..."></textarea>
     <div class="input-group-append">
      <span class="input-group-text send_btn" onclick="sendMessage();"><i class="fas fa-location-arrow"></i></span>
     </div>
    </div>
   </div>
  </div>
 </div>

 </div>
 <footer id="footer" class="group codecamp-footer">
  <div class="zone zone-footer">
   <div class=" main-footer">
    <div class="container">
     <div class="row">
      <div class="col-xs-12 col-md-6 introduction footer-column">
       <div class="logo-codelearn">
        <img src="codelearn-logo.svg" alt="CodeLearn" />
       </div>
       <p>
        CodeLearn là nền tảng tương tác trực tuyến hỗ trợ người dùng học tập, thực hành, thi đấu và đánh giá kỹ năng lập
        trình một cách nhanh chóng và chính xác.
       </p>
       <a href="https://www.facebook.com/CodeLearnFanpage" title="Facebook" target="_blank" class="social-button">
        <i class="cl-icon-facebook-f"></i>
       </a>
       <a href="https://www.youtube.com/channel/UCpt3dSDGk5fC7uU9OeFG5ig" title="Youtube" target="_blank"
        class="social-button">
        <i class="cl-icon-youtube"></i>
       </a>
       <a href="https://twitter.com/codelearn_io" title="Twitter" target="_blank" class="social-button">
        <i class="cl-icon-twitter-full"></i>
       </a>
       <a href="https://www.instagram.com/codelearn.io/" title="Instagram" target="_blank" class="social-button">
        <i class="cl-icon-instagram"></i>
       </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 links footer-column">
       <h4>Liên kết</h4>
       <p><a href="/learning" class="link-menu" title="Học tập">Học tập</a></p>
       <p><a href="/training" class="link-menu" title="Luyện tập">Luyện tập</a></p>
       <p><a href="/fights" class="link-menu" title="Cuộc thi">Cuộc thi</a></p>
       <p><a href="/game/index" class="link-menu" title="Trò chơi">Trò chơi</a></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 about footer-column">
       <h4>Thông tin</h4>
       <p><a href="/sharing" class="link-menu" title="Chia sẻ">Chia sẻ</a></p>
       <p><a href="/aboutus" title="Về chúng tôi">Về chúng tôi</a></p>
       <p><a href="/terms" title="Điều khoản sử dụng">Điều khoản sử dụng</a></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 help footer-column">
       <h4>Trợ giúp</h4>
       <p><a href="/help" title="Hỗ trợ">Hỗ trợ</a></p>
       <p><a href="/discussion" title="Thảo luận">Thảo luận</a></p>
       <p><a href="/cdn-cgi/l/email-protection#2c5f595c5c435e586c4f43484940494d5e42024543"
         title="Liên hệ với chúng tôi">Liên hệ với chúng tôi</a></p>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xs-12 right-reserved">
    <span class="powerby">
     <img src="logo-fpt-footer.svg" alt="Fpt software" class="fpt-logo">
     Cung cấp bởi <a href="/">CodeLearn</a>
    </span>
    <span class="copyright">&#169; 2020.</span>
    <span>Đã đăng ký bản quyền rev 12/13/2020 9:14:05 PM</span>
   </div>
  </div>
 </footer>
 </div>
<script src="slick.js" type="text/javascript"></script>

<script src="home.js" type="text/javascript"></script>



<div id="fb-root"></div>

<script src="/socket.io/socket.io.js"></script>
<script>
 $(document).ready(function () {
  $('#main-content-chat').hide();
  

   
 });

 function clickChatUser(userId, obj) {
  
 
  
   $('li').removeClass();
   $(obj).addClass('active');
   
   console.log(obj.id);

    openChatUserClick(obj.id);
 }
</script>
 

 
<script>
  const socket = io();
  let user = '<%- JSON.stringify(user) %>'
  let usersResponse = [];

  let listMyMessage = [];
  let userClick = undefined; // user current chat
  console.log(user);
  socket.emit('login', { users: user });

  socket.on('listUserOnline', data => {
    console.log(data.users);
    usersResponse = data.users;

    let userReject = undefined;
    for (let i = 0; i < usersResponse.length; i++) {
      if (usersResponse[i].id === JSON.parse(user).id) {
        userReject = usersResponse[i];
        break;
      }
    }
    usersResponse = usersResponse.filter(x => x !== userReject);
    loop_for_ejs(usersResponse);
  })

  function loop_for_ejs(S) {
    console.log(S)
      var line = "";
      S.forEach(element => {
         
      line += `<li onclick="clickChatUser(${element.id}, this)" class="user-chat" id="${element.id}">
        
      <div class="d-flex bd-highlight">
       <div class="img_cont">
        <img src="${element.picture}" class="rounded-circle user_img">
        <span class="online_icon"></span>
       </div>
       <div class="user_info">
        <span>${element.username}</span>
        
       </div>
      </div>
     </li>`;

      });
        
        
        
       

        document.getElementById('album').innerHTML = line;
      }

      function openChatUserClick(userId) {
        listMyMessage = [];
        var line = "";
        document.getElementById('msg_card_body').innerHTML = line;
        var objDiv = document.getElementById('msg_card_body');
        objDiv.scrollTop = objDiv.scrollHeight;
        console.log(userId);
        
        for (let i = 0; i < usersResponse.length; i++) {
          if (usersResponse[i].id === userId) {
            userClick = usersResponse[i];
            break;
          }
        }

        let listMessageToUserClick = [];
        let userCurrent = JSON.parse(user);

        $('#main-content-chat').show();
        socket.emit('chooseUser', { userCurrent: userCurrent, userClick: userClick });
        var img = `<img style="width: 45px; height: 45px;" src="${userClick.picture}" class="rounded-circle user_img">
        <span style="position: absolute;height: 12px;width: 12px;background-color: #4cd137;border-radius: 50%;bottom: 25px;right: 12px;border: 1.5px solid white;" class="online_icon"></span>`; 
        document.getElementById('img_cont_open').innerHTML = img;

        // var imgChat = `<img style="width: 45px; height: 45px;" src="${userClick.picture}" class="rounded-circle user_img">`
        // document.getElementById('img_cont_msg').innerHTML = imgChat;

        var username = `<span style="color: #fff;">${userClick.username}</span>`
        document.getElementById('user_info_open').innerHTML = username;

        

  //       for (let i = 0; i < listMyMessage.length; i++) {
  //         if ((listMyMessage[i].id === userClick.id && listMyMessage[i].userIdTo === userCurrent.id) || (listMyMessage[i].id === userCurrent.id && listMyMessage[i].userIdTo === userClick.id)) {
  //           listMessageToUserClick.push(listMyMessage[i]);
  //         }
  //       }

  //       var line = "";
        
  //       listMessageToUserClick.forEach(element => {
  //         if (userClick.id === element.userIdTo) {
            
  //           line += `
  //   <div class="d-flex justify-content-end mb-4">
  //    <div class="msg_cotainer_send">
  //     ${element.message}
  //    </div></div>`;
          
  //   } else if (userCurrent.id === element.userIdTo) {

  
            
  //         line += `<div class="d-flex justify-content-start mb-4">
  //    <div class="img_cont_msg" id="img_cont_msg">
  //     <img src="${element.picture}" class="rounded-circle user_img_msg">
  //    </div>
  //    <div class="msg_cotainer">
  //     <p style="margin-bottom: 0px;">${element.message}</p>
  //     <span class="msg_time">8:40 AM, Today</span>
  //    </div>
  //   </div>`;
          
  // }
  //       })

  //       document.getElementById('msg_card_body').innerHTML = line;
  //       var objDiv = document.getElementById('msg_card_body');
  //       objDiv.scrollTop = objDiv.scrollHeight;
      }


      function sendMessage() {
        var message = $('#message').val();
        var userName = user;
        socket.emit('message', { user: user, message: message, userChatTo: userClick, timeSend: new Date() });
        $('#message').val('');
      }

     socket.on('list-message', data => {
       
       console.log('current user' + user);
       console.log(data);
       var line = "";
       
       document.getElementById('msg_card_body').innerHTML = line;
       var objDiv = document.getElementById('msg_card_body');
       objDiv.scrollTop = objDiv.scrollHeight;
       let userCurrent = JSON.parse(user);

      //  for (let i = 0; i < data.listMessage.length; i++) {
      //    if ((data.listMessage[i].id === userClick.id && data.listMessage[i].userIdTo === userCurrent.id) || (data.listMessage[i].id === userCurrent.id && data.listMessage[i].userIdTo === userClick.id)) {
      //     listMyMessage.push(data.listMessage[i]);
      //    }
      //  }

       listMyMessage = data.listMessage;

       listMyMessage.forEach(element => {
        if (userCurrent.id === element.id) {
          line += `
    <div class="d-flex justify-content-end mb-4">
     <div class="msg_cotainer_send">
      <p style="margin-bottom: 0px;min-width: 65px;margin-right: 10px;text-align: right;">${element.message}</p>
      <span class="msg_time">${formatAMPM(element.timeSend)}</span>
     </div></div>`;
        } else if (userCurrent.id === element.userIdTo) {
          line += `
          <div class="d-flex justify-content-start mb-4">
     <div class="img_cont_msg" id="img_cont_msg">
      <img src="${element.picture}" class="rounded-circle user_img_msg">
     </div>
     <div class="msg_cotainer">
      <p style="margin-bottom: 0px;min-width: 65px;margin-left: 10px;text-align: left;">${element.message}</p>
      <span class="msg_time">${formatAMPM(element.timeSend)}</span>
     </div>
    </div>`;
        }
        
       })
       
       document.getElementById('msg_card_body').innerHTML = line;
       var objDiv = document.getElementById('msg_card_body');
objDiv.scrollTop = objDiv.scrollHeight;
     })
      
  
    function formatAMPM(date) {
      console.log(typeof(date))
        var date = new Date(date);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var day = new Date().getDate() - date.getDate();
        var dayStr = '';
        if (day < 1) {
          dayStr = 'Today';
        } else if (dayStr === 1) {
          dayStr = 'Yesterday';
        } else {
          dayStr = 'Many time ago';
        }
        var strTime = hours + ':' + minutes + ' ' + ampm + ' ' + dayStr;
        return strTime;
      }
</script>
        

 
</body>

</html>