<!DOCTYPE html>
<html lang="vi" class="static dir-ltr codecamp-notification" dir="ltr">

<head>
 <meta charset="utf-8" />
 <meta name="description"
  content="CodeLearn is an online platform developed by FPT Software company that helps users to learn, practice coding skills and join the developer community" />
 <meta name="author" content="CodeLearn" />
 <link rel="shortcut icon" href="content/codelearn-icon.png" />
 <link rel="apple-touch-icon" href="content/codelearn-icon.png" />
 <link rel="canonical" href="/notification" />
 <link rel="alternate" hreflang="vi" href="https://codelearn.io/notification" />
 <link rel="alternate" hreflang="en-US" href="https://codelearn.io/notification" />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
 <title>Code Learn</title>

 <meta property="og:title" content="Code Learn" />
 <meta property="og:type" content="website" />
 <meta property="og:url" content="https://codelearn.io/notification" />
 <meta property="og:description"
  content="CodeLearn is an online platform developed by FPT Software company that helps users to learn, practice coding skills and join the developer community" />
 <meta property="og:image" content="content/codelearn-share.jpg" />
 <meta property="fb:app_id" content="648326032295473" />


 <meta name="twitter:card" content="summary">
 <meta name="twitter:url" content="https://codelearn.io/notification">
 <meta name="twitter:title" content="Code Learn">
 <meta name="twitter:description"
  content="CodeLearn is an online platform developed by FPT Software company that helps users to learn, practice coding skills and join the developer community">
 <meta name="twitter:image" content="content/codelearn-share.jpg" />
 <meta name="twitter:site" content="@Codelearn.io">
 <meta name="twitter:creator" content="@Codelearn.io">

 <meta name="google-signin-client_id"
  content="16523143533-ovv9lj8c7i8sv36sv3lguom0msmdk8ah.apps.googleusercontent.com" />

 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141685371-1"></script>
 <script>
  var isGetNotification = true;
  var isNotCountComment = false;

  var s3Storage = '';
  var resourcePath = '/Themes/TheCodeCampPro/Resources';
  var strAuthen = 'dangvanquy200498@gmail.com';
  var faceId = '648326032295473';
  var isLoadedFacebook = 'False';
  if (strAuthen == '') {
   var googleId = '16523143533-ovv9lj8c7i8sv36sv3lguom0msmdk8ah.apps.googleusercontent.com';
  }

  if (strAuthen == '') {
   var LOGIN_VALIDATOR, SIGNUP_VALIDATOR;
   function openModal(tab) {

    $('#loginModal a[data-target="#' + tab + '"]').tab('show');
    switch (tab) {
     case 'login':
      $(".btn--facebook").attr('title', 'Đăng nhập bằng Facebook');
      $(".btn--google").attr('title', 'Đăng nhập bằng Google');
      $("#loginModal .header-card").text('Đăng nhập tài khoản của bạn');
      SIGNUP_VALIDATOR && SIGNUP_VALIDATOR.resetForm();
      break;
     case 'signup':
      $(".btn--facebook").attr('title', 'Tiếp tục với Facebook');
      $(".btn--google").attr('title', 'Tiếp tục với Google');
      $("#loginModal .header-card").text('Đăng ký tài khoản mới');
      LOGIN_VALIDATOR && LOGIN_VALIDATOR.resetForm();
      break;
    }
   }
  }

  if ('https://codelearn.io' == location.origin.toLocaleLowerCase()) {
   window.dataLayer = window.dataLayer || [];
   function gtag() { dataLayer.push(arguments); }

   gtag('js', new Date());
   gtag('config', 'UA-141685371-1');
   gtag('config', 'USER_MANAGEMENT');
   gtag('set', { 'user_id': 'dangvanquy200498@gmail.com' });

   // Measure Google Ads conversions
   gtag('event', 'conversion', {
    'send_to': 'USER_MANAGEMENT/dangvanquy200498@gmail.com',
   });

   window['GoogleAnalyticsObject'] = 'ga';
   window['ga'] = window['ga'] || function () {
    (window['ga'].q = window['ga'].q || []).push(arguments)
   };
   ga('set', 'userId', 'dangvanquy200498@gmail.com');
  }

  window.fbAsyncInit = function () {
   FB.init({
    appId: faceId,
    xfbml: true,
    version: 'v7.0'
   });
   FB.AppEvents.logPageView();
   isLoadedFacebook = true;
  };

  (function (d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) { return; }
   js = d.createElement(s); js.id = id;
   js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
   fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

 </script>

 <script>
  !function (f, b, e, v, n, t, s) {
   if (f.fbq) return; n = f.fbq = function () {
    n.callMethod ?
     n.callMethod.apply(n, arguments) : n.queue.push(arguments)
   };
   if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
   n.queue = []; t = b.createElement(e); t.async = !0;
   t.src = v; s = b.getElementsByTagName(e)[0];
   s.parentNode.insertBefore(t, s)
  }(window, document, 'script',
   'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '700313553710795');
  fbq('track', 'PageView');
 </script>

 <link href="style.css" rel="stylesheet" type="text/css" />
 <link href="skin.css" rel="stylesheet" type="text/css" />
 <link href="bootstrap.css" rel="stylesheet" type="text/css" />
 <link href="font.css" rel="stylesheet" type="text/css" />
 <link href="home.css" rel="stylesheet" type="text/css" />
 <link href="bootstrap-tour.css" rel="stylesheet" type="text/css" />
 <link href="common.css" rel="stylesheet" type="text/css" />
 <link href="site.css" rel="stylesheet" type="text/css" />
 <link href="login-modal.css" rel="stylesheet" type="text/css" />
 
 <script src="defer_plus.js" type="text/javascript"></script>
 <script src="jquery.js" type="text/javascript"></script>
 <script src="bootstrap.min.js" type="text/javascript"></script>
 <script src="jquery.ui.min.js" type="text/javascript"></script>
 <script src="jquery.validation.js" type="text/javascript"></script>
 <script src="jquery.validation.1.16.0.js" type="text/javascript"></script>
 <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
 <script src="https://www.google.com/recaptcha/api.js?render=6LcMTLMUAAAAAFLLyTIvjCj7k0bAG8ZqjnaTTrQE"
  type="text/javascript"></script>
 <script src="login-form.js" type="text/javascript"></script>
 <script src="common.js" type="text/javascript"></script>
</head>

<body class="hold-transition site-body skin-sku-light layout-top-nav notification ">
 <script>
  //<![CDATA[
  var LANG_CURRENT = "vn";
  const CurrentUserId = 5838384;
  const NOTTIFY_USER_ACCESSKEY = 'nottifyAccessKey';
  const IS_ADMIN = false;

  PKLService.init({ strVersion: '798184607', strLangCode: 'vn', IsHasLogin: true, url: location.origin });
        //]]>
 </script>
 <div id="layout-navigation" class="group ">
  <div class="zone zone-navigation">
   <article class="widget-navigation widget-menu-widget widget">
    <header class="navbar site-header">

     <div class="wrap-site-logo">
      <a title="CodeLearn" href="/">
       <img alt="CodeLearn nền tảng dạy lập trình trực tuyến" class="site-logo"
        src="codelearn-logo.png">
       <img alt="CodeLearn lập trình mỗi ngày" class="site-logo-mobile"
        src="codelearn-mobile-logo.png">
      </a>
     </div>
     <div class="wrap-right-header">
      <input type="checkbox" id="mobile-menu-cb" name="mobile-menu-cb" />
      <label class="hamburger-button" for="mobile-menu-cb">
       <span class="hamburger-icon"></span>
      </label>
      <label class="hamburger-menu-mask" for="mobile-menu-cb"></label>
      <nav class="site-menu">
       <ul class="menu menu-main-menu">
        <li><a href="/learning">Học tập</a>
        </li>
        <li><a href="/training">Luyện tập</a>
        </li>
        <li><a href="/fights">Thi đấu</a>
        </li>
        <li><a href="/challenge">Thử thách</a>
        </li>
        <li><a href="/evaluating">Đánh giá</a>
        </li>
        <li><a href="/discussion">Thảo luận</a>
        </li>
        <li><a href="/leaderboard">Xếp hạng</a>
        </li>
        <li><a href="/game">Trò chơi</a>
        </li>
        <li><a href="/chat">Chia sẻ</a>
        </li>
       </ul>
       <div class="dropdown dropdown-language">
        <a href="#" class="dropdown-toggle btn-dark btn--language " data-toggle="dropdown" role="button"
         aria-haspopup="true" aria-expanded="false" title="Tiếng Việt">
         <img alt="Tiếng Việt" class="button-language btn-img flag"
          src="vn.png" />
        </a>
        <ul class="dropdown-menu">
         <li>
          <span class="change-lang" data-link="/language/setLanguageLocal?name=en&redirectUrl=">
           <img alt="en" class="icon-language" src="en.png">
           English
          </span>
         </li>
         <li>
          <span class="change-lang" data-link="/language/setLanguageLocal?name=vn&redirectUrl=">
           <img alt="vn" class="icon-language" src="vn.png">
           Tiếng Việt
          </span>
         </li>
        </ul>
       </div>
      </nav>


      <ul class="site-user-menu">
       <li class="dropdown notify">
        <a title="Thông báo" id="notify" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
         aria-haspopup="true" aria-expanded="false">
         <i class="far fa-bell"></i>
         <span id="notification-count" class="label label-warning"></span>
        </a>
        <div class="dropdown-menu">
         <ul id="list-notify">
          <li class="header">Thông báo</li>
         </ul>
         <div id="view-all-notify"><a href="/notification">Xem toàn bộ</a></div>
        </div>
       </li>
       <li class="dropdown header-user-profile">
        <a href="#" class="dropdown-toggle btn--profile" title="dangvanquy200498@gmail.com">
         <img alt="dangvanquy200498@gmail.com" class="btn--img"
          src="<%= user.avatar%>">
        </a>
        <ul class="dropdown-menu dropdown-menu-user">
         <li><a href="/user/information">Thông tin của tôi</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="/profile/5838384">Hồ sơ của tôi</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="/classmanagement">Lớp của tôi</a></li>
         <li role="separator" class="divider"></li>
         <li><a id="cick-logoff" href="/logout">Thoát</a></li>
        </ul>
       </li>
      </ul>
     </div>
    </header>
   </article>
   <article class="widget-navigation widget-bread-cumps-widget widget">
    <nav aria-label="breadcrumb">
     <div class="container">
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
       <li class="breadcrumb-item"><a href="/notification">Thông báo</a></li>
      </ol>
     </div>
    </nav>

    <form id="formSubmitAddFriend" method="post">
     <input type="hidden" name="idFriend" id="idFriend">
     <input type="hidden" name="idOwner" id="idOwner">
    </form>

    <div class="fb-customerchat" attribution=setup_tool page_id="2254662768188202" greeting_dialog_display="hide">
    </div>
   </article>
  </div>
 </div>
 <main id="layout-main" class="group">
  <div id="layout-content" class="group">
   <div id="content" class="group">
    <div class="zone zone-content">
     <div id="container-notify" class="container">
      <h2>Danh sách tìm kiếm</h2>
     
      <div style="text-align: center;" id="showNotFound">
       <img width="40%" src="not-found.svg">
       <h2>Không tìm thấy dữ liệu !</h2>
      </div>
      
      <table class="table table-hover" id="showTableResult">
       <thead>
        <tr>
         <th scope="col">Email</th>
         <th scope="col">Ảnh đại diện</th>
         <th scope="col">Tên</th>
         <th scope="col">Kết bạn</th>
        </tr>
       </thead>
       <tbody id="table-result">
        <tr>
         <th></th>
         <td></td>
         <td>Otto</td>
         <td>@mdo</td>
        </tr>
        
       </tbody>
      </table>

     </div>
    </div>
   </div>
  </div>
 </main>
 <footer id="footer" class="group codecamp-footer">
  <div class="zone zone-footer">
   <div class=" main-footer">
    <div class="container">
     <div class="row">
      <div class="col-xs-12 col-md-6 introduction footer-column">
       <div class="logo-codelearn">
        <img src="codelearn-logo.svg" alt="CodeLearn" />
       </div>
       <p>
        CodeLearn là nền tảng tương tác trực tuyến hỗ trợ người dùng học tập, thực hành, thi đấu và đánh giá kỹ năng lập
        trình một cách nhanh chóng và chính xác.
       </p>
       <a href="https://www.facebook.com/CodeLearnFanpage" title="Facebook" target="_blank" class="social-button">
        <i class="cl-icon-facebook-f"></i>
       </a>
       <a href="https://www.youtube.com/channel/UCpt3dSDGk5fC7uU9OeFG5ig" title="Youtube" target="_blank"
        class="social-button">
        <i class="cl-icon-youtube"></i>
       </a>
       <a href="https://twitter.com/codelearn_io" title="Twitter" target="_blank" class="social-button">
        <i class="cl-icon-twitter-full"></i>
       </a>
       <a href="https://www.instagram.com/codelearn.io/" title="Instagram" target="_blank" class="social-button">
        <i class="cl-icon-instagram"></i>
       </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 links footer-column">
       <h4>Liên kết</h4>
       <p><a href="/learning" class="link-menu" title="Học tập">Học tập</a></p>
       <p><a href="/training" class="link-menu" title="Luyện tập">Luyện tập</a></p>
       <p><a href="/fights" class="link-menu" title="Cuộc thi">Cuộc thi</a></p>
       <p><a href="/game/index" class="link-menu" title="Trò chơi">Trò chơi</a></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 about footer-column">
       <h4>Thông tin</h4>
       <p><a href="/sharing" class="link-menu" title="Chia sẻ">Chia sẻ</a></p>
       <p><a href="/aboutus" title="Về chúng tôi">Về chúng tôi</a></p>
       <p><a href="/terms" title="Điều khoản sử dụng">Điều khoản sử dụng</a></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 help footer-column">
       <h4>Trợ giúp</h4>
       <p><a href="/help" title="Hỗ trợ">Hỗ trợ</a></p>
       <p><a href="/discussion" title="Thảo luận">Thảo luận</a></p>
       <p><a href="/cdn-cgi/l/email-protection#e89b9d9898879a9ca88b878c8d848d899a86c68187"
         title="Liên hệ với chúng tôi">Liên hệ với chúng tôi</a></p>
      </div>
     </div>
    </div>
   </div>
   <div class="col-xs-12 right-reserved">
    <span class="powerby">
     <img src="logo-fpt-footer.svg" alt="Fpt software" class="fpt-logo">
     Cung cấp bởi <a href="/">CodeLearn</a>
    </span>
    <span class="copyright">&#169; 2021.</span>
    <span>Đã đăng ký bản quyền rev 12/11/2020 10:12:34 AM</span>
   </div>
  </div>
 </footer>
 <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
 
 <script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function (event) {
   translate.onLoad(function () {
    $.ModuleNotificationList({ panel: "#pnListNotify" });
   });
  });
 </script>

 <div id="fb-root"></div>

 <script>
  $('#showNotFound').hide();
  $('#showTableResult').hide();
            let accountResult = '<%- JSON.stringify(accountResult) %>'
            let isFriend = '<%- JSON.stringify(isFriend) %>'

            console.log(isFriend);
            
            let user = '<%- JSON.stringify(user) %>'
            let userObj = JSON.parse(user);

            let accounts = [];
            if (accountResult !== '[]') {
             let accountResultObj = JSON.parse(accountResult);
             console.log(accountResultObj);

             



             accounts.push(accountResultObj);
            }

            

            var line = "";

            if (accounts.length > 0) {
             accounts.forEach(element => {

              if (isFriend === 'true') {
               line += `
              <tr>
         <th>${element.email}</th>
         <td><img style="width: 40px; height: 40px; border-radius: 20px;" src="${element.avatar}" /></td>
         <td>${element.name}</td>
         <td></td>
        </tr>
             `;
              } else {
                line += `
              <tr>
         <th>${element.email}</th>
         <td><img style="width: 40px; height: 40px; border-radius: 20px;" src="${element.avatar}" /></td>
         <td>${element.name}</td>
         <td><i onclick="addFriend(this)" class="fas fa-user-plus" id="${element.googlePlusId}"></i></td>
        </tr>
             `;
              }

             
             })

             document.getElementById('table-result').innerHTML = line;
             $('#showTableResult').show();
            } else {
             $('#showNotFound').show();
            }
            

            
        </script>

        <script>

         function addFriend(obj) {
          var action = "/addFriend";
          console.log(obj.id);
          document.getElementById("idFriend").value = obj.id;
          document.getElementById("idOwner").value = userObj.id;
          document.forms[0].action = action;
          $("#formSubmitAddFriend").submit();
         }

        </script>

 
</body>

</html>